.btn-outline-danger {
    float: right;
}

.top {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.top .comment-overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.top:hover .comment-overlay {
    opacity: 1;
}

.comment-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.top:hover .comment-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-bottom {
    top: 80%;
}